/* YARB - Style for the RPG table page
 *
 * Copyright (C) 2016 Michal Grochmal
 *
 * This page is free software, and is distributed under the terms of the GNU
 * General Public License version 3 or (at your option) any later version.
 */

/* general rules */
body {
  overflow : hidden;
  font-size : 12pt;
  color : #121212;
  font-family : sans-serif;
  background-color : #d6d6d6;
  margin : 0;
  padding : 0;
}
a  { text-decoration : none; }
a:link    { color : #ee6633; }
a:visited { color : #ee6633; }
a:hover   { text-decoration : underline; }

/* the main pane is at the bottom, it contains the board */
#main-page {
  min-width : 1234px;  /* 1168+30+30+3+3 */
  margin-left : 193px;
  margin-bottom : 99px;
  padding : 3px;
  border-radius : 6px;
}
#board {
  margin : auto;
  width : 1168px;  /* 73*16 */
}

/* arrows next to the board are made with border-radius */
#go-left-pos {
  float : left;
  position : relative;
  width : 30px;
  min-height : 1234px;
}
#go-right-pos {
  float : right;
  position : relative;
  width : 30px;
  min-height : 1234px;
}
#go-up-pos {
  margin : auto;
  margin-bottom : 3px;
  min-width : 1168px;
  height : 30px;
}
#go-down-pos {
  margin : auto;
  margin-top : 3px;
  min-width : 1168px;
  height : 30px;
}
.pos-button {
  margin : auto;
  width : 30px;
  height : 30px;
}
#pos-button-left {
  position: absolute;
  top: 50%;
  /* center the elemnt within itself */
  transform: translate(0, -50%);
  border-radius : 20px 6px 6px 20px;
  background-color : #337733;
}
#pos-button-right {
  position: absolute;
  top: 50%;
  /* center the element within itself */
  transform: translate(0, -50%);
  border-radius : 6px 20px 20px 6px;
  background-color : #337733;
}
#pos-button-up {
  border-radius : 20px 20px 6px 6px;
  background-color : #337733;
}
#pos-button-down {
  border-radius : 6px 6px 20px 20px;
  background-color : #337733;
}
a.pos-button-link       { opacity : 0.7; }
a.pos-button-link:hover { opacity : 1; }

/* centering things properly */
.center-outer {
  position : relative;
  margin : auto;
}
.center-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  /* no line reduction in the container */
  margin-right: -50%;
  /* center the element within itself */
  transform: translate(-50%, -50%);
}

/* the chess-like tiles of the board */
.rowdiv { height : 73px; }
.coldiv {
  float : left;
  display : inline-block;
}
.colordiv {
  float : left;
  width : 73px;
  height : 73px;
  display : inline-block;
  /*opacity : 0.3;*/
  border-radius : 12px;
}
.nocolordiv {
  float : left;
  width : 73px;
  height : 73px;
  display : inline-block;
  /*opacity : 1;*/
  background-color : #d6d6d6;
}
#board .rowdiv:nth-child(odd)  .coldiv:nth-child(even) .colordiv {
  background-color : rgba(238,119,85,0.3);  /* #ee7755 */
}
#board .rowdiv:nth-child(even) .coldiv:nth-child(odd)  .colordiv {
  background-color : rgba(238,119,85,0.3);
}
#board .rowdiv:nth-child(odd)  .coldiv:nth-child(odd)  .colordiv {
  background-color : rgba(85,119,238,0.3);  /* #5577ee */
}
#board .rowdiv:nth-child(even) .coldiv:nth-child(even) .colordiv {
  background-color : rgba(85,119,238,0.3);
}

/* the left pane is a scroll of death containing all units */
#left-pane {
  position : fixed;
  overflow : hidden;
  background-color : #d6d6d6;
  border-radius : 6px;
  width : 166px;
  height : 96%;
  padding : 0;
  margin : 0;
  top : 3px;
  left : 3px;
  text-align : center;
}
.unit-group-title {
  text-align : center;
  margin : auto;
  border-radius : 12px;
  background-color : #969696;
  /*border : 1px solid blue;*/
}
.unit-group-board {
  margin-bottom : 20px;
}
.unit-square {
  display : inline-block;
  width : 73px;
}
.unit-name {
  text-align : center;
  font-size : 0.7em;
}
.unit-image { border : 0; }

/* the selected unit, either in the left pane or on the board */
.selected-unit {
  border : 0;
  border-right : 1px solid #33dd33;
  border-bottom : 1px solid #33dd33;
  border-radius : 12px;
  background-color : #99ee99;
}

/* the vertical bar of links to scroll the left pane */
.quick-scroll {
  position : fixed;
  overflow : hidden;
  background-color : #d6d6d6;
  border-radius : 6px;
  width : 16px;
  /*height : 96%;*/
  padding : 0;
  margin : 0;
  top : 3px;
  left : 169px;  /* 166+3 */
  text-align : center;
}
/* the navigation vertical bar */
.nav-scroll {
  position : fixed;
  overflow : hidden;
  background-color : #d6d6d6;
  border-radius : 6px;
  width : 16px;
  /*height : 96%;*/
  padding : 0;
  margin : 0;
  top : 3px;
  left : 185px;  /* 166+3+16 */
  text-align : center;
}
.scroll-button    { margin : auto; }

/* image links are used on the quick scroll and in the footer */
a.imglink { opacity : 0.7; }
a.imglink:hover {
  opacity : 1;
  text-decoration : none;
}

/* dice rolls and links are in footer */
#footer {
  position : fixed;
  overflow : hidden;
  height : 93px;
  left : 193px;
  right : 3px;
  bottom : 3px;
  /*border : 1px solid blue;*/
  border-radius : 6px;
  background-color : #d6d6d6;
  /*resize : both;*/
}
.dice {
  float : left;
  padding-top : 1px;
  padding-left : 6px;
  padding-right : 12px;
}
.dice-result {
  font-family : monospace;
  font-size : 24px;
  color : #ee6633;
}
.dice-result-text {
  display : inline-block;
  text-align : right;
}
.dice-result-1d { width : 1em; }
.dice-result-2d { width : 2em; }
.dice-result-3d { width : 3em; }
.dice-col       { vertical-align:top; }
#dexp-parsed {
  font-weight : 300;
  font-size : 0.7em;
}
.expression-input {
  width : 9em;
  color : black;
  vertical-align : top;
}
.footer-links {
  float :right;
  padding-top : 1px;
  padding-left : 18px;
  padding-right : 12px;
}
.footer-link {
  display : block;
  padding-top : 2px;
}
.copyright {
  clear : both;
  margin : auto;
  text-align : center;
  font-size : 0.7em;
  font-weight : 300;
}

/* the popup windows that come out when called from the links in the footer */
#message-blur {
  display : none;
  position : fixed;
  left : 0;
  top : 0;
  width : 100%;
  height : 100%;
  background-color : rgba(221,221,221,0.7); /* #dddddd */
  /*opacity : 0.7;*/
}
.message-popup {
  display : none;
  position : absolute;
  width : 900px;
  height : auto;
  background-color : #a6a6a6;
  border : 2px solid #717171;
  border-radius : 12px;
  text-align : center;
  color : black;
  top : 50%;
  left : 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/*a.message-close {
  display : block;
  float : right;
  color : #717171;
  text-align : center;
  border : 2px solid #717171;
  border-radius : 9px;
  padding: 1px;
}
a.message-close:hover {
  text-decoration : none;
  background-color : #969696;
}*/
.message-text {
  clear : both;
  padding : 20px 30px 20px 30px;
  text-align : justify;
}
.message-header {
  text-align : center;
  margin : 0;
  padding : 0;
}
.message-buttons {
  margin : auto;
  margin-bottom : 9px;
}
a.message-button {
  /*position : absolute;
  left : 50%;
  margin-right: -50%;
  transform: translate(-50%, 0);*/
  color : #717171;
  text-align : center;
  width : 6em;
  margin : 6px 18px 6px 18px;
  padding : 3px 18px 3px 18px;
  border : 2px solid #717171;
  border-radius : 3px;
}
a.message-button-off {
  color : #616161;
  text-align : center;
  width : 6em;
  margin : 6px 18px 6px 18px;
  padding : 3px 18px 3px 18px;
  border : 2px solid #616161;
  border-radius : 3px;
  /*transition : 1s opacity;*/
  animation : 2s linear 0s infinite alternate none running upload;
}
@keyframes upload {
  from { opacity : 0.6; }
  to   { opacity : 0.1; }
}
a.message-button:hover {
  text-decoration : none;
  background-color : #969696;
}
a.message-button-off:hover { text-decoration : none; }

